body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

h1 {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 5.5vw;
}

h2 {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 88px;
    font-weight: 500;
}

h3 {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 3vw;
    font-weight: 500;
}

p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* --------------------------------------------------- HEADER --------------------------------------------------- */
header {
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1000;
}

.header-nav-container {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    backdrop-filter: blur(5px);
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 50px;

    transition:
        background-color 2s ease,
        box-shadow 0.3s ease,
        border-radius 2s ease;
}

header.scrolled .header-nav-container {
    background-color: var(--bg-primary-transparent);
    box-shadow: 0 8px 10px #2564eb2f;
    border-radius: 50px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img {
    display: block;
    width: 100%;
    max-width: 100px;
    /* o el tamaño que quieras */
    min-width: 70px;
    /* para asegurar que no se haga demasiado pequeño */
    height: auto;
}

.header-nav-links {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}

.header-nav-links a {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.header-nav-links a:hover {
    color: var(--primary);
    text-shadow: 0 0 2px var(--primary-hover);
}

.header-social-links {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.header-social-links a {
    color: var(--text-primary);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.header-social-links a:hover {
    color: var(--primary);
    text-shadow: 0 0 2px var(--primary-hover);
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    background-color: var(--primary);
    color: var(--white);
    font-family: "Stack Sans Notch", sans-serif;
    border: none;
    padding: 10px 80px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.dropdown-toggle:hover {
    background-color: var(--primary-hover);
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.2),
        0 0 0 3px var(--bg-surface-2);
}

.dropdown-toggle img {
    max-width: 24px;
    padding-right: 6px;
}

.dropdown-menu {
    background-color: var(--secondary-transparent);
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
}

.dropdown-item {
    color: var(--white);
    font-weight: 600;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

/* --------------------------------------------------- HERO --------------------------------------------------- */

.hero-container {
    display: grid;
    min-height: 70vh;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 0px 25px;
}

.hero-container h1 {
    padding: 1vh 0;
    line-height: 1.2;
}

.hero-container h3 {
    padding: 1vh 0;
}

.hero-container h3 {
    color: var(--primary-hover);
    margin-top: -20px;
}

.hero-container p {
    font-size: 1.5vw;
    line-height: 1.6;
    margin: 20px 0;
}

.hero-content {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.btn-contacto {
    background-color: var(--secondary);
    font-family: "Stack Sans Notch", sans-serif;
    color: var(--white);
    border: none;
    padding: 15px 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 30px;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease;
}

.btn-contacto:hover {
    background-color: var(--secondary-transparent);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero-image {
    align-self: flex-end;
}

.carousel-hero {
    --carousel-gap: 20px;
    display: flex;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: var(--primary);
}

.carousel-hero::-webkit-scrollbar {
    display: none;
}

.group-carousel-hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--carousel-gap);
    flex: 0 0 auto;
    width: max-content;
    min-width: 100%;
    padding-right: var(--carousel-gap);
    box-sizing: border-box;
    animation: spin 20s linear infinite;
}

.card-hero {
    width: 80px;
    height: 80px;
    flex: 0 0 auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-hero img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}

/* --------------------------------------------------- PROYECTOS --------------------------------------------------- */

#projects {
    padding: 50px 25px;
}

#projects h2 {
    text-align: center;
}

.projects-carousel {
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
    min-height: 540px;
}

.projects-carousel:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.carousel-inner {
    border-radius: 30px;
    box-shadow: 0px 0px 30px var(--primary);
}

.carousel-caption {
    background-color: var(--bg-primary-transparent);
    backdrop-filter: blur(5px);
    padding: 20px;
    border-radius: 10px;
}

.d-block {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* --------------------------------------------------- SOBRE MI --------------------------------------------------- */

#about {
    padding: 50px 25px;
}

#about h2 {
    text-align: center;
}

/* --------------------------------------------------- HABILIDADES --------------------------------------------------- */

#skills {
    padding: 100px 25px;
}

#skills h2 {
    text-align: center;
}

.skills-orbit {
    background-image: var(--gradient-primary-radial);
    display: grid;

    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;

    grid-template-rows: 150px flex flex 150px;

    align-items: center;
    justify-items: center;

    padding: 70px 0;
}

.skill-center {
    grid-column: 3;
    grid-row: 2 / span 2;

    width: 250px;
    height: 250px;

    border-radius: 50%;

    background: rgba(17, 24, 39, 0.8);

    box-shadow: 0 0 50px var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Diseno {
    grid-column: 2;
    grid-row: 2;
}

.Contenido {
    grid-column: 4;
    grid-row: 2;
}

.Desarrollo {
    grid-column: 2;
    grid-row: 3;
}

.WEB {
    grid-column: 4;
    grid-row: 3;
}

.BD {
    grid-column: 3;
    grid-row: 1;
}

.Herramientas {
    grid-column: 3;
    grid-row: 4;
}

.skill-node {
    width: 330px;
    min-height: 170px;

    padding: 20px;
    margin: 10px;

    border-radius: 25px;
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.3s;


    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 25px var(--bg-primary), 0 0 0px var(--bg-primary) inset;

    transition: box-shadow 1.5 ease;

    font-size: .7vw;
    font-style: italic;
}

.skill-node h4 {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 1vw;
}

.skill-node:hover {

    box-shadow: 0 0 0px var(--bg-primary), 0 0 25px var(--bg-primary) inset;
}

.Diseno:hover {
    transform: translateX(20px) scale(0.95);
}

.Contenido:hover {
    transform: translateX(-20px) scale(0.95);
}

.Desarrollo:hover {
    transform: translateX(20px) scale(0.95);
}

.WEB:hover {
    transform: translateX(-20px) scale(0.95);
}

.BD:hover {
    transform: translateY(20px) scale(0.95);
}

.Herramientas:hover {
    transform: translateY(-20px) scale(0.95);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    gap: 20px;
}

.icon {
    width: 32px;
    height: 32px;
}

/* --------------------------------------------------- CONTACTO --------------------------------------------------- */

#contact {
    padding: 50px 25px;
}

#contact h2 {
    text-align: center;
}

.contact-container {
    border-width: 0.25vw;
    border-style: solid;
    border-color: var(--secondary);
    border-radius: 15px;

    box-shadow:
        10px 10px 100px var(--secondary) inset,
        -10px -10px 100px var(--secondary) inset;
    padding: 50px;
    color: var(--white);

    max-width: 80vw;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-writeme {
    display: inline-block;

    border-style: solid;
    border-width: 5px;
    border-color: var(--orange);
    border-radius: 25px;

    box-shadow:
        8px 8px 15px var(--orange) inset,
        -8px -8px 15px var(--orange) inset;

    margin: 50px 0px;
    padding: 30px 250px;

    text-decoration: none;
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 1.5vw;
    font-weight: 500;

    color: var(--text-primary);

    transition: box-shadow 0.3s ease;
}

.btn-writeme:hover {
    box-shadow:
        1px 1px 5px var(--orange) inset,
        -1px -1px 5px var(--orange) inset,
        2px 2px 10px var(--orange),
        -2px -2px 10px var(--orange);
}

.contact-cards-panel {
    display: flex;
    justify-content: center;
}

.contact-card {
    display: flex;
    margin: 10px 20px;
    padding: 20px;
    min-height: 100px;
    min-width: 400px;
    text-align: center;
    backdrop-filter: blur(25px);

    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--secondary);
    border-radius: 15px;

    align-items: center;

    text-decoration: none;
    color: var(--text-primary);

    transition: transform 0.3s ease;
    /*box-shadow: 10px 10px 50px var(--secondary) inset, -10px -10px 50px var(--orange) inset, 3px 5px 15px var(--bg-surface);*/
}

.contact-card:hover {
    transform: scale(1.08);
}

.contact-card img {
    max-width: 50px;
    padding: 10px;
}

.info-contact-card {
    text-align: start;
}

.resalt-text {
    color: var(--orange);
}

/* ---------------------- FOOTER ---------------------- */
footer {
    background-color: var(--bg-surface-2);
    color: var(--text-secondary);
    text-align: center;
    padding: 20px;
}