:root {
        /* Fondos */
        --bg-primary: #0b1120;
        --bg-primary-transparent: #0b1120cc;
        --bg-surface: #111827;
        --bg-surface-2: #1e293b;

        /* Azules */
        --primary: #2563eb;
        --primary-transparent: #2563eb81;
        --primary-hover: #3b82f6;

        /* Secundario */
        --secondary: #0e726a;
        --secondary-transparent: #0f766d81;

        /* Texto */
        --text-primary: #e5e7eb;
        --text-secondary: #94a3b8;
        --white: #ffffff;

        /* Bordes */
        --border: #334155;
        --accent-dark: #0d1b2a;

        /* Extras */
        --purple: #6366f1;
        --cyan: #06b6d4;
        --orange: #f59e0b;

        /* Gradientes */
        --gradient-primary: linear-gradient(135deg, #0b1120, #2563eb);

        --gradient-secondary: linear-gradient(135deg, #111827, #0f766e);

        --gradient-premium: linear-gradient(135deg, #0d1b2a, #3b82f6);

        --gradient-primary-radial: radial-gradient(ellipse , #2563eb 10%, #0b1120 70%);
}